.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}
.shop {
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}